coverage
flake8
flake8-docstrings
flake8-html
lxml
mypy
pdoc3
pep8-naming
pyhamcrest
pytest
pytest-html
tox
flask
flask-classful
python-dotenv
mplleaflet
matplotlib
pywebview==4.4.1
PyAudio==0.2.13
pandas==1.4.3
opencv-python==4.7.0.68
numpy==1.23.2
matplotlib-inline
chardet==5.2.0
charset-normalizer==2.0.12
torch==1.13.1
torchvision==0.14.1
tkhtmlview==0.2.0
tkinterhtml==0.7
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
sounddevice==0.4.6
soundfile==0.12.1